.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 48px 15px;

}

iframe{
    flex: 1;
    margin-top: 6rem;
    border-radius: 5px;
}

@media screen and (min-width : 768px) {
    iframe{
        height: 40rem;
        max-width: 75%;
    }
}

@media screen and (min-width: 1200px){
    iframe{
        height: 40rem;
        max-width: 84.2%;
    }
}
